.movie {
  .movie-poster {
    .movie-poster-overlay {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparentize($black, 0.4);
    }
  }

  &:hover {
    .movie-poster {
      .movie-poster-overlay {
        opacity: 1;
      }
    }
  }
}